%table.table.table-striped
  %thead
    %tr
      %th Hours
      %th Activity
      %th Location
  %tbody
    %tr
      %td= I18n.t 'day1'
    %tr
      %td= I18n.t 'act1_time'
      %td= I18n.t 'act1_name'
      %td= I18n.t 'act1_location'
    %tr
      %td= I18n.t 'act2_time'
      %td= I18n.t 'act2_name'
      %td= I18n.t 'act2_location'
    %tr
      %td= I18n.t 'act3_time'
      %td= I18n.t 'act3_name'
      %td= I18n.t 'act3_location'
    %tr
      %td= I18n.t 'act4_time'
      %td= I18n.t 'act4_name'
      %td= I18n.t 'act4_location'
    %tr
      %td= I18n.t 'day2'
    %tr
      %td= I18n.t 'act5_time'
      %td= I18n.t 'act5_name'
      %td= I18n.t 'act5_location'
    %tr
      %td= I18n.t 'act6_time'
      %td= I18n.t 'act6_name'
      %td= I18n.t 'act6_location'
    %tr
      %td= I18n.t 'act7_time'
      %td= I18n.t 'act7_name'
      %td= I18n.t 'act7_location'