%table.table.table-striped
  %thead
    %tr
      %th Day
      %th Hours
      %th Activity
      %th Location
  %tbody
    %tr
      %td
        %strong= I18n.t 'act_first_day_date'
      %td{:colspan => 3}
        %strong= I18n.t 'act_first_day_desc'
    %tr
      %td= I18n.t 'act_day_1'
      %td= I18n.t 'act_time_1'
      %td= I18n.t 'act_desc_1'
      %td= I18n.t 'act_location_1'
    %tr
      %td= I18n.t 'act_day_2'
      %td= I18n.t 'act_time_2'
      %td= I18n.t 'act_desc_2'
      %td= I18n.t 'act_location_2'
    %tr
      %td= I18n.t 'act_day_3'
      %td= I18n.t 'act_time_3'
      %td= I18n.t 'act_desc_3'
      %td= I18n.t 'act_location_3'
    %tr
      %td= I18n.t 'act_day_4'
      %td= I18n.t 'act_time_4'
      %td= I18n.t 'act_desc_4'
      %td= I18n.t 'act_location_4'
    
    %tr
      %td
        %strong= I18n.t 'act_second_day_date'
      %td{:colspan => 2}
        %strong= I18n.t 'act_second_day_desc'
    %tr
      %td= I18n.t 'act_day_5'
      %td= I18n.t 'act_time_5'
      %td= I18n.t 'act_desc_5'
      %td= I18n.t 'act_location_5'
    %tr
      %td= I18n.t 'act_day_6'
      %td= I18n.t 'act_time_6'
      %td= I18n.t 'act_desc_6'
      %td= I18n.t 'act_location_6'
    %tr
      %td= I18n.t 'act_day_7'
      %td= I18n.t 'act_time_7'
      %td= I18n.t 'act_desc_7'
      %td= I18n.t 'act_location_7'
    %tr
      %td= I18n.t 'act_day_8'
      %td= I18n.t 'act_time_8'
      %td= I18n.t 'act_desc_8'
      %td= I18n.t 'act_location_8'
    %tr
      %td= I18n.t 'act_day_9'
      %td= I18n.t 'act_time_9'
      %td= I18n.t 'act_desc_9'
      %td= I18n.t 'act_location_9'


    %tr
      %td
        %strong= I18n.t 'act_thrird_day_date'
      %td{:colspan => 2}
        %strong= I18n.t 'act_thrird_day_desc'
    %tr
      %td= I18n.t 'act_day_10'
      %td= I18n.t 'act_time_10'
      %td= I18n.t 'act_desc_10'
      %td= I18n.t 'act_location_10'
    %tr
      %td= I18n.t 'act_day_11'
      %td= I18n.t 'act_time_11'
      %td= I18n.t 'act_desc_11'
      %td= I18n.t 'act_location_11'
    %tr
      %td= I18n.t 'act_day_12'
      %td= I18n.t 'act_time_12'
      %td= I18n.t 'act_desc_12'
      %td= I18n.t 'act_location_12'
    %tr
      %td= I18n.t 'act_day_13'
      %td= I18n.t 'act_time_13'
      %td= I18n.t 'act_desc_13'
      %td= I18n.t 'act_location_13'
    %tr
      %td= I18n.t 'act_day_14'
      %td= I18n.t 'act_time_14'
      %td= I18n.t 'act_desc_14'
      %td= I18n.t 'act_location_14'
    %tr
      %td= I18n.t 'act_day_15'
      %td= I18n.t 'act_time_15'
      %td= I18n.t 'act_desc_15'
      %td= I18n.t 'act_location_15'
    