%p#notice= notice

.container
  .page-header
    %h1#timeline Speakers
  %ul.timeline
    
    // CARLOS JOSE CARTAXO
    %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Paraíba - João Pessoa
          %h5.timeline-title Prof. Carlos José Cartaxo
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado
            %br
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Lançar os livros de minha autoria
            %hr
        .timeline-body
          %p
            Carlos Cartaxo
            É escritor e professor de arte e comunicação da UFPB. Doutor, com Laude, em Artes Visuais e Educação pela Universidade de Barcelona, Espanha; Mestre em Engenharia de Produção; Especialista em Educação Superior; Engenheiro e Licenciado em Educação Artística com habilitação em Artes Cênicas. É líder do Grupo de Pesquisa "Arte, comunicação e possibilidades narrativas" na UFPB. É pesquisador do Grupo de Pesquisa: Turismo e Desenvolvimento. Participa do Clube do Conto da Paraíba. Tem inúmeros textos teatrais montados e artigos publicados. Tem experiência na área de Artes, atuando principalmente nas áreas: Artes Cênicas, Artes Visuais, educação, metodologia do trabalho científico, direção, interpretação teatral e dramaturgia; Comunicação, direção de arte e pesquisa aplicada à comunicação. Foi agraciado com o Prêmio Jabuti de Literatura pelo romance/reportagem "A família Canuto e a luta camponesa na Amazônia" da Câmara Brasileira do Livro, 2001. Em 2009 foi reconhecido, pela Assembleia Legislativa do Estado da Paraíba, com votos de Aplausos pelo lançamento do livro "Teatro Determinado". Em 2003 foi premiado com Melhor Espetáculo e melhor Trilha Sonora pela montagem de "O Vendedor de Sonhos" do Projeto de Extensão "O Circo na Escola". Em 2002 recebeu a Medalha de Francisco Eduardo de Macêdo da Câmara Municipal de Picuí-PB. Em 1999 foi premiado com Melhor Cenografia do espetáculo teatral "A Saga do Caranguejeiro", pela Federação de Atores e Técnicos de Teatro- PA. Escreve e expõe suas ideias e projetos através de www.carloscartaxo.blogspot.com.br e www.carloscartaxo.wordpress.com.
            %hr
            %ul.livros
              %strong Livros do autor
              %li Amor invisível: artes e possibilidades narrativas, 2015.<br>
              %li Teatro na Educação: caminhos e desafios, 2015.<br>
              %li Contatos, 2014.
              %li Geraldeando, 2010.
              %li Teatro determinado, 2009.
              %li Ação Educativa para Cidadania, 2007.
              %li Teatro de Atitudes, 2005.
              %li O Ensino das Artes Cênicas na Escola Fundamental e Média, 2001.
              %li A Família Canuto e A Luta Camponesa na Amazônia, 1999.
              %li Livros em que o autor participa
              %li Contos de Sábado. Clube do Conto da Paraíba, 2012.
              %li Histórias de Sábado. Clube do Conto da Paraíba, 2008.
              %li Sonho de Feliz Cidade. Sebo Cultural, 2007.
    // END CARLOS JOSE CARTAXO
    
    // ROMUALDO RODRIGUES PALHANO
    %li.timeline-inverted
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Amapá - Macapá
          %h5.timeline-title Prof. Romualdo Rodrigues Palhano
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado
          %hr
          %button{:class => 'btn btn-info'}= link_to 'Curriculum Lattes', 'http://lattes.cnpq.br2948719304625592'
        .timeline-body
          %h4 PORTUGUESE
          %p
            É Pós-Doutor em Teatro pela Universidade Federal da Paraíba - UFPB, (2009). Possui Doutorado em Teatro pela Universidade Federal do Estado do Rio de Janeiro - UNIRIO, (2004). Com Doutorado sanduíche no Instituto Superior de Arte - Havana - Cuba (2000). Mestre em Serviço Social, com pesquisa sobre Teatro e Comunidade pela UFPB (1992). Graduado em Educação Artística, habilitação Artes Cênicas - UFPB (1985). Tem experiência na área de Artes, com ênfase em Artes Cênicas, atuando principalmente nos seguintes temas: teatro, educação, espetáculo, teatro de bonecos e teatro/historiografia/sociedade. Implantou o Curso de Licenciatura em Teatro da Universidade Federal do Amapá (2013). Em março de 2016 ministrou curso de teatro no Centro Cultural Brasil/Guyana na Embaixada Brasileira em Georgetown. Publicou as seguintes obras: Grito Incontido (1988); A Estrela e a Rã (1998); Brincando com Linhas (2001); Teatro de Bonecos: uma alternativa para o ensino fundamental na Amazônia (2001); Entre Terra e Mar: sociogênese e caminhos do teatro na Paraíba (2009); A Saga de Altimar Pimentel e o Teatro Experimental de Cabedelo (2009); Fronteiras Entre o Palco e a Tela - Teatro na Paraíba - 1900 - 19016 (2010); Entre Parénthesis (2010); A Ovelha Malhada (2011); O Teatro na Terra de Zé da Luz - Da União Dramática ao GETI (2011); Artes Cênicas no Amapá - Teoria, Textos e Palcos (2011); Eu e a Rainha do Vale - De Menino a Rapazinho (2012); O Pato e o Lago (2012); Entre Pai & Filhos (2012); Pablito e a Libélula (2013); Arque com Arte - Cultura, Arte e Educação no Amapá (2013); Teatro no Amapá - Artistas e Seu Tempo (2013); Curso de Teatro no Amapá: concepções e proposições para o ensino superior (2013); A China é Aqui (2013); Entre Irmãos (2014); Aventuras Poéticas (2014); Itabayanna Entre Fatos e Fotos (2014); Dramaturgia Amapaense (2015)
          %hr
          %h4 ENGLISH
          %p
            Graduate at Licenciatura Plena em Educação Artística from Universidade Federal da Paraíba (1985), master's at Mestrado em Serviço Social from Universidade Federal da Paraíba (1992) and ph.d. at Theater from Universidade Federal do Estado do Rio de Janeiro (2004). Has experience in Arts, focusing on Arts, acting on the following subjects: teatro, educação, espetáculo, teatro/historiografia/sociedade and teatro de bonecos.
    // END ROMUALDO RODRIGUES PALHANO
    
    // LUCIANO OLIVEIRA
    %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Rondônia	Porto Velho
          %h5.timeline-title Luciano Oliveira
          %a.text-muted
            %i.glyphicon.glyphicon-check
            Produção e apresentação de vídeo sobre a cultura do estado, Lançamento de Livro, Outra(s)
          %hr
          %button{:class => 'btn btn-info'}= link_to 'Curriculum Lattes', 'http://lattes.cnpq.br/0084587484397779'
        .timeline-body
          %h4 PORTUGUESE
          %p
            Ator, diretor, produtor e professor de teatro. Professor do Curso de Licenciatura em Teatro da Universidade Federal de Rondônia.
          %h4 ENGLISH
          %p
            Actor, director, producer and professor of theatre. Professor of the Graduation in Theater at the Federal University of Rondônia.
          %h4 Books
          %p
            Eid Ribeiro e o Armatrux em Processo: o objeto flutuante entre a poética e a estética teatral. Editora Scienza, 2017.
          %p
            Ministrante da Oficina Jogos Tradicionais Infantis Brasileiros
    // END LUCIANO OLIVEIRA
    
    // FABIANA CAMPOS FRANCO
    %li.timeline-inverted
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Espírito Santo - Vitória
          %h5.timeline-title Fabiana Campos Franco
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado, Lançamento de Livro, Outra(s)
          %hr
        .timeline-body
          %h4 PORTUGUESE
          %p
            Doutora em Comunicação Social, jornalista, Professora da Faculdade Estácio de Sá de Vitória-ES e da EMESCAM. Editora-chefe da Editora Emescam
          %h4 ENGLISH
          %p
            PhD in Social Communication, journalist, Professor of Faculdade Estácio de Sá de Vitória-ES and EMESCAM. Editor-in-chief of Emescam Publishing House
          %hr
          %p
            Marina Minha Vida Editora Emescam 2017 e A cor da Nossa História Editora Emescam, 2017
          %p
            Participação na mostra de vídeos 
    // END FABIANA CAMPOS FRANCO
    
    // SATINA PRISCILA MARCONDES PIMENTA
    %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Espírito Santo - Vitória
          %h5.timeline-title Satina Priscila Marcondes Pimenta
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado, Outra(s)
        .timeline-body
          %h4 PORTUGUESE
          %p
            Advogada e Pscicóloga. Posgraduada em direito e saúde e Piscicologia. Meste em Administração e gestão de pessoas (Fucape Business School) e professora na Faculdade Estácio de Sá de Vitória-ES e Multivix 
          %h4 ENGLISH
          %p
            Lawyer and Psychologist. Postgraduate in Public Law and Health and Psychosocial Intervention, MSc in Administration with emphasis in People Management (Fucape Business School). Professor of Faculdade Estácio de Sá de Vitória and Multivix.
          %hr
          %p
            Apresentação de Vídeos 
          // .btn-group
          //   %button.btn.btn-primary.btn-sm.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          //     %i.glyphicon.glyphicon-cog
          //     %span.caret
          //   %ul.dropdown-menu{role: "menu"}
          //     %li
          //       %a{href: "#"} Action
          //     %li
          //       %a{href: "#"} Another action
          //     %li
          //       %a{href: "#"} Something else here
          //     %li.divider
          //     %li
          //       %a{href: "#"} Separated link
    
    // END SATINA PRISCILA MARCONDES PIMENTA
    
    
    // MARCOS ANTONIO MEDEIROS DA SILVA
    %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Pernambuco - Ipojuca
          %h5.timeline-title Marcos Antonio Medeiros da Silva
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado, Exposição
          %hr
          %button{:class => 'btn btn-info'}= link_to 'Curriculum Lattes', 'http://enciclopedia.itaucultural.org.br/pessoa281013/marcos-antonio-medeiros-da-silva'
        .timeline-body
          %h4 PORTUGUESE
          %p
            Nascido em Minas Gerais, mora em Ipojuca, Pernambuco há 50 anos. Coordenador da Cultura na Fajolca - Faculdade de Ipojuca Artista plástico - pintor, ceramista, gravador, escritor, roteirista e produtor do Curta Porto - Festival de Cinema Porto de Galinhas. Membro da Sociedade Académica das Artes, Ciências e Letras, fundada em 1915, couronnée par l'Académie Française "", Medalha de Prata em 2010. Participou de Salões de Arte no Brasil e no exterior, entre eles o Salon des Beaux Arts, Carrousel du Louvre, Paris. Exposições no Brasil e no exterior.
          %h4 ENGLISH
          %p
            Born in Minas Gerais, he lives in Ipojuca, Pernambuco for 50 years. Coordinator of Culture at Fajolca - Faculty of Ipojuca Plastic artist - painter, ceramist, engraver, writer, screenwriter and producer of Curta Porto - Porto de Galinhas Film Festival. Member of the Academic Society of Arts, Sciences and Letters, founded in 1915, Couronnee par l'Académie Française "", Silver Medal in 2010. He participated in Salons of Art in Brazil and in the foreigner, among them the Salon des Beaux Arts, Carrousel du Louvre, in Paris, in 2010. Exhibitions in Brazil and abroad.
          %hr
          %p
            CICLOS
    // END MARCOS ANTONIO MEDEIROS DA SILVA
    
    // PAULO ROBERTO DE ANDRADE GOMES
    %li.timeline-inverted
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Pernambuco - Ipojuca
          %h5.timeline-title Paulo Roberto de Andrade Gomes
        %p
          %smalla.t-muted
            %i.glyphicon.glyphicon-check
            Produção e apresentação de vídeo sobre a cultura do estado, Exposição
        .timeline-body
          %p
            Diretor Adjunto na Fajolca - Faculdade de Ipojuca Administrador pela UFPE, Mestre em Gestão Organzicional pela UFPE, MBA em Gestão Empresarial pela Fundação Getúlio Vargas - FGV. Possui mais de dez anos de experiência em docência na área de negócios, além de atuação na área financeira, de planejamento e gestão de diversas empresas. Tem exercido cargos de direção em empresas do ramo educacional desde 2012.
    // END PAULO ROBERTO DE ANDRADE GOMES
    
    
    // LAIS DA FONSECA LACERDA
    %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Pernambuco - Ipojuca
          %h5.timeline-title Laís da Fonseca Lacerda
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado, Exposição
          %hr
          %button{:class => 'btn btn-info'}= link_to 'Curriculum Lattes', 'http://enciclopedia.itaucultural.org.br/pessoa281013/marcos-antonio-medeiros-da-silva'
        .timeline-body
          %p
            Diretora Geral da Fajolca - Faculdade José Lacerda Filho de Ciências Aplicadas. Graduada em Pedagogia pela Fundação de Ensino Superior de Olinda (FUNESO). Possui vasta experiência na área de Educação. Tendo sido três vezes Secretária de Educação do Município de Ipojuca - PE
          %hr
          %p
            CICLOS
    // END LAIS DA FONSECA LACERDA
    
    
    // SUELI SIQUEIRA
    %li
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Minas Gerais - Governador Valadares
          %h5.timeline-title Sueli Siqueira
          %p
            %a.text-muted
              %i.glyphicon.glyphicon-check
              Produção e apresentação de vídeo sobre a cultura do estado, Outra(s)
        .timeline-body
          %h4 PORTUGUESE
          %p
            Pós-doutorado pelo Centro de Investigação e Estudos de Sociologia do Instituto Universitário de Lisboa - CIES-IUL (2012) em Migrações Internacionais. Doutorado (2006) e mestre (1998) em Sociologia e Política pela Universidade Federal de Minas Gerais (2006). É professora titular da Universidade Vale do Rio Doce. Coordena o Núcleo de Estudos Multidisciplinar Sobre Desenvolvimento Regional - NEDER /UNIVALE. Desenvolve estudos sobre temáticas centradas na área da Sociologia Urbana com ênfase em Estudo Sobre Migração Internacional.
          %h4 ENGLISH
          %p
            Post-doctorate by the Center for Research and Sociology Studies of the University Institute of Lisbon - CIES-IUL (2012) in International Migrations. PhD (2006) and Master (1998) in Sociology and Politics by the Federal University of Minas Gerais (2006). She is a full professor at Vale do Rio Doce University. Coordinates the Multidisciplinary Studies Center on Regional Development - NEDER / UNIVALE. He develops studies on themes centered in the area of Urban Sociology with emphasis on International Migration Study.
          %hr
          %p
            Coordenação de mesa redonda
    
    // END SUELI SIQUEIRA
    
  %h1 Other Speakers
  %table.table
    %thead
      %tr
        %td Name
        %td Institute
        %td State
        %td City
        // %td Email
        // %td Phone
        // %td Cellphone
        
    %tbody
      %tr
        %td BRENNO JADVAS SOARES FERREIRA	
        %td Instituto Federal de Educação, Ciências e Tecnologia do Tocantins	
        %td TO
        %td Gurupi
      %hr
      %tr
        %td Carlos José Cartaxo		
        %td Universidade Federal da Paraíba
        %td PA
        %td João Pessoa
      %tr
        %td Eliana Martins Marcolino
        %td Universidade Vale do Rio Doce - Univale
        %td MG
        %td Capitão
      %tr
        %td Fabiana campos Franco	
        %td Emescam e Estácio de sá de Vitória
        %td ES
        %td Vitória
      %tr
        %td José Paulo Gutierrez	
        %td UFMS
        %td MS
        %td Campo Grande
      %tr
        %td Lais da Fonseca Lacerda
        %td FAJOLCA - Faculdade de Ipojuca
        %td PE
        %td Ipojuca
      %tr
        %td Luciano Flávio de Oliveira
        %td Fundação Universidade Federal de Rondônia
        %td RO
        %td Porto Velho	
      %tr
        %td Marcos Antonio Medeiros da Silva	
        %td Fajolca - Faculdade de Ipojuca
        %td PE
        %td Ipojuca
      %tr
        %td Marcos Antonio Medeiros da Silva	Fajolca
        %td Fajolca - Faculdade de Ipojuca
        %td RO
        %td Ipojuca
      %tr
        %td Maria Terezinha Bretas Vilarino
        %td Universidade Vale do Rio Doce
        %td MG
        %td Governador Valadares
      %tr
        %td Pablo Marquinho Pessoa Pinheiro
        %td Instituto Federal do Tocantins
        %td TO
        %td Tocantins
      %tr
        %td PATRÍCIA FALCO GENOVEZ
        %td UNIVALE
        %td MG
        %td Governador Valadares
      %tr
        %td Raquel Marques Carrico Ferreira
        %td Universidade Federal de Sergipe
        %td SE
        %td Sao cristovao
      %tr
        %td Romualdo Rodrigues Palhano	
        %td Universidade Federal do Amapá
        %td AM
        %td Macapá
      %tr
        %td Satina priscila Marcondes pimenta 	
        %td Faculdade estacio de vitória e faculdades multivix
        %td ES
        %td Vitória
      %tr
        %td Sueli Siqueira
        %td UNIVALE - Universidade Vale do Rio Doce
        %td MG
        %td Governador Valadares
  