%p#notice= notice

%h1= I18n.t 'signed_up_message_1'
%h2= I18n.t 'signed_up_message_2'

%p
  %strong First name:
  = @member.first_name
%p
  %strong Last name:
  = @member.last_name
%p
  %strong Email:
  = @member.email
%p
  %strong Area:
  = @member.area
%p
  %strong Job:
  = @member.job
%p
  %strong Birthday:
  = @member.birthday
%p
  %strong Arrive:
  = @member.arrive
%p
  %strong Depart:
  = @member.depart
%hr
//= link_to 'Edit', edit_member_path(@member)
|
= link_to 'Back', root_path
