%p#notice= notice
%hr
.row
  %h1= I18n.t 'signed_up_message_1'
  %h2= I18n.t 'signed_up_message_2'

%p.member_data
  %strong First name:
  = @member.first_name
  %br
  %strong Last name:
  = @member.last_name
  %br
  %strong Email:
  = @member.email
  %br
  %strong Area:
  = @member.area
  %br
  %strong University:
  = @member.job
  %br
  %strong Age Range:
  = @member.birthday

%hr
//= link_to 'Edit', edit_member_path(@member)
|
= link_to 'Back', root_path
